<h2>Pessoa Detalhes</h2>

<hr/>
<div *ngIf="pessoa">
  <div>
    <label><b>Nome: </b></label> {{pessoa.nome}}
  </div>
  <div>
    <label><b>Sexo: </b></label> {{pessoa.sexo}}
  </div>
  <div>
    <label><b>Email: </b></label> {{pessoa.email}}
  </div>
  <div>
    <label><b>CPF: </b></label> {{pessoa.cpf}}
  </div>
  <div>
    <label><b>Data Nascimento: </b></label> {{pessoa.dataNascimento}}
  </div>
  <div>
    <label><b>Naturalidade: </b></label> {{pessoa.naturalidade}}
  </div>
  <div>
    <label><b>Nacionalidade: </b></label> {{pessoa.nacionalidade}}
  </div>
  <div>
    <label><b>Data Cadastro: </b></label> {{pessoa.dataCadastro}}
  </div>
  <div>
    <label><b>Data Atualização: </b></label> {{pessoa.dataAtualizacao}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Voltar para listagem</button><br>
